<%- include("partials/header") -%>

<div class="margin-body">

  <img class="advent-image" src="images/<%= month %>-advent.jpg" alt="">
  <h3 class="quiz-title"><%= month %></h3>
  <h4><%=adventTitle%></h4>

  <p class="advent-description"><%= adventDescription %></p>

  <form class="" action="/calendar-result" method="post">
    <button class="activity-button calendar-button" type="submit" name="button">Take Me Back to the Calendar</button>
  </form>
</div>
<%- include("partials/footer") -%>
