<%- include("partials/header") -%>

<div class="margin-body">


  <img src="" class="title-image" alt="">
  <h3 class="quiz-title">HI<%= button %></h3>
  <img class="advent-image" src="images/<%= button %>-advent.jpg" alt="">

  <p class="advent-description"><%= adventDescription %></p>

  <form class="" action="/calendar" method="post">
    <button class="calendar-button" type="submit" name="button">Take Me Back to the Calendar</button>
  </form>
</div>
<%- include("partials/footer") -%>
